@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .app-text-gray {
    @apply text-[#ffffff7a];
  }
  .app-text-white {
    @apply text-[#e6e6e6];
  }
  .app-bg-white {
    @apply bg-[#e6e6e6];
  }
  .app-bg-black {
    @apply bg-[#121212];
  }
  .app-text-primary{
    @apply text-yellow-500;
  }
}

.app-box-shadow-1 {
  box-shadow: inset 0 1px .4px #fff, inset 0 -1px .4px #0003, 0 0 14px #ffffff30, 0 0 0 2px #00000080;
}


.btn:disabled {
  background-color: #e6e6e6; /* Same as .app-bg-white */
  box-shadow: inset 0 1px .4px #fff, inset 0 -1px .4px #0003, 0 0 14px #ffffff30, 0 0 0 2px #00000080; /* Same as .app-box-shadow-1 */
  cursor: not-allowed; /* Optional: to indicate the button is not clickable */
  opacity: 0.7; /* Optional: to indicate the button is disabled */
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}